* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  margin: 0px;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
}

main{
  width: 100%;

}

#cabecalho {
  padding: 0px 20px;
  width: 100%;
  display: flex;
  background-color: #e0e0e0;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.titulo {
  font-weight: 500;
  font-size: 9px;
  line-height: 24px;
  color: #333333;
}

.icon-menu span {
  display: block;
  margin-bottom: 3px;
  width: 18px;
  height: 2px;
  background: #333333;
}

#menu-conteiner {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 100vh;
  background-color: #333333;
  z-index: 5;
  display: none;
}

#menu{
  list-style-type: none;
  padding: 62px 0px;
  
}

#menu li {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  text-align: right;
  z-index: 6;
  
}
#menu li:hover{
  background-color: #C4C4C4;
  color: #333333;
  font-weight: 600;
}

#fecharMenu{
  color:#fff ;
  margin: 20px;
  font-size: 25px;
}


.formulario{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.formulario  form {
  width: 90%;
  display: flex;
  margin-top: 10px;
  flex-direction: column;

}

.formulario form .transacao, .nome-mercadoria, .valor{
  display: flex;
  flex-direction: column;
}

.formulario h2{
  margin-top: 20px;
  display: none;
}

.formulario form label {
  padding: 20px 0px 5px 0px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 22px;
}

.formulario form .transacao select {
  height: 32px;
  border-radius: 4px;
  border: 1px solid #979797;
  padding: 0px 5px;
  color: #888888;
}

.formulario form input[type="text"],
[type="number"] {
  height: 32px;
  border-radius: 4px;
  border: 1px solid #979797;
  padding: 0px 10px;
  color: #888888;
}
.formulario form input[type="number"] {
  font-family: "Inter", sans-serif;
}
.formulario form .menu-adicionar input[type="submit"] {
  width: 100%;
  margin-top: 19.78px;
  height: 32px;
  border-radius: 4px;
  background-color: #333333;
  color: #fff;
  font-family: "Inter", sans-serif;
  border: none;
}
.linha {
  margin: 0 auto;
  margin-top: 28.56px;
  width: 90%;
  height: 1px;
  background-color: #979797;
}

.tabela-extrato {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  justify-content: center;
  align-items: center;
}

.tabela-extrato table {
  margin-top: 19px;
  width: 90%;
  border-collapse: collapse;
  font-size: 14px;
}

.linha-simples-separadora td {
  border-bottom: 1px solid #979797;
  padding: 0px;
}

.cabecalho-tabela {
  font-weight: 600;
  font-size: 14px;
  padding: 5px 0px;
}
.conteudo-tabela {
  padding: 8px 0px;
  width: 200px;
  line-height: 16px;
}
#espaco-linhadupla {
  padding: 1px;
}
.total {
  padding-top: 10px;
  font-weight: 700;
  font-size: 14px;
  padding-left: 15px;
}
.lucro {
  font-size: 10px;
  font-weight: 400;
  padding-top: 0px;
  text-align: right;
  padding-right: 10px;
}
.alinhamento-esquerdo {
  text-align: left;
  padding-left: 11px;
}
.alinhamento-direito {
  text-align: right;
  padding-right: 10px;
  vertical-align: baseline;
  padding-top: 7px;
}
.espaco-simbolo {
  padding-left: 10px;
  text-align: center;
}
#cabecalho-tabela-valor {
  padding-right: 42px;
}

.footer {
  border: 4px solid #333333;
  width: 100%;
  position: absolute;
  bottom: 0;
}


@media (min-width: 768px){


#menu-conteiner {
  width: 35%;
}

.formulario h2{
  display: block;
}

.formulario{
  border: 1px solid #979797;
  margin: 20px;
  border-radius: 4px;
}

.menu-adicionar{
  display: flex;
  align-items: center;
  justify-content: end;
}

.formulario form .menu-adicionar input[type="submit"] {
  
  width: 200px;
  margin-bottom: 20px;
}
.formulario form .menu-adicionar{
  width: 100%;
  text-align: end;
}

.formulario form .transacao{
    width: 20%;
    margin-right: 20px;
}
.formulario form .nome-mercadoria{
  width: 54%;
  margin-right: 20px;
}
.formulario form .valor{
  width: 20%;
}

.formulario form{
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
}

.linha{
  display: none;
}

.espaco-simbolo {
  padding-left: 0px;

}
.alinhamento-esquerdo {
  padding-left: 0px;
}
#cabecalho-tabela-valor {
  padding-right: 20px; 
}
.alinhamento-direito{
  padding-right: 20px;
}
.lucro{
  padding-right: 20px;
}




}


@media (min-width: 1112px){

  .formulario h2{
    display: block;
  }
  
  .formulario{
    border: 1px solid #979797;
    margin: 20px;
    border-radius: 4px;
    width: 40%;
  }

  .menu-adicionar{
    display: flex;
    align-items: center;
  
  }

  
  .formulario form .menu-adicionar{
    width: 100%;
  }
  
  .formulario form .transacao{
      width: 100%;
    
  }
  .formulario form .nome-mercadoria{
    width: 100%;
   
  }
  .formulario form .valor{
    width: 100%;
  }
  
  .formulario form{
      display: flex;
      flex-direction: column;
      width: 90%;
  }
  
  .linha{
    display: none;
  }
  
  .espaco-simbolo {
    padding-left: 10px;
  
  }
  .alinhamento-esquerdo {
    padding-left: 11px;
  }
  #cabecalho-tabela-valor {
    padding-right: 10px; 
  }
  .alinhamento-direito{
    padding-right: 10px;
  }
  .lucro{
    padding-right: 10px;
  }

  .tabela-extrato{
    width: 55%;
  }

  .icon-menu{
    display: none;
  }
  main{
    display: flex;
    flex-direction: row;
  }
  .formulario form .menu-adicionar input[type="submit"] {
    margin-bottom: 20px;
    width: 100%;
}

}