* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
}

/*Estilização cabeçalho, logo titulo e menu hamburguer*/
#cabecalho {
  padding: 0px 20px;
  width: 100%;
  background-color: #e0e0e0;
  height: 60px;
}
.conteudo-cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.titulo {
  font-weight: 500;
  font-size: 9px;
  line-height: 24px;
  color: #333333;
}
.icon-menu span { /*Criação dos 3 riscos do menu hamburguer*/
  display: block;
  margin-bottom: 3px;
  width: 18px;
  height: 2px;
  background: #333333;
  cursor: pointer;
}
#menu-conteiner { /*Criação do container escuro para o menu mobile*/
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 100vh;
  background-color: #333333;
  z-index: 5;
  display: none;
}
#menu { /*Estilo da ul*/
  list-style-type: none;
  padding: 0px;
}
#menu li {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  text-align: right;
  z-index: 6;
  cursor: pointer;
}
#menu li:hover {
  background-color: #c4c4c4;
  color: #333333;
  font-weight: 600;
}
#fecharMenu {
  color: #fff;
  margin: 20px;
  font-size: 25px;
  cursor: pointer;
}
/*Estilização cabeçalho, logo titulo e menu hamburguer*/


/*Estilização do formulário até o botão adicionar transação*/
.formulario-tabela{
  display: flex;
  flex-direction: column;
}
.formulario {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.formulario form {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}
.formulario form .transacao,
.nome-mercadoria,
.valor {
  display: flex;
  flex-direction: column;
}
.formulario h2 { /*H2 que aparce somente no tablet e desktop*/
  margin-top: 20px;
  display: none;
}
.formulario form label {
  padding: 20px 0px 5px 0px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 22px;
}
.formulario form .transacao select {
  height: 32px;
  border-radius: 4px;
  border: 1px solid #979797;
  padding: 0px 5px;
  color: #888888;
}
.formulario form input[type="text"],
[type="number"] {
  height: 32px;
  border-radius: 4px;
  border: 1px solid #979797;
  padding: 0px 10px;
  color: #888888;
}
.formulario form input[type="number"] {
  font-family: "Inter", sans-serif;
}
.formulario form .menu-adicionar input[type="submit"] {
  width: 100%;
  margin-top: 19.78px;
  height: 32px;
  border-radius: 4px;
  background-color: #333333;
  color: #fff;
  font-family: "Inter", sans-serif;
  border: none;
  cursor: pointer;
}
/*Estilização do formulário até o botão adicionar transação*/

/*Linha que separa o formulário da tabela*/
.linha {
  margin: 0 auto;
  margin-top: 28.56px;
  width: 90%;
  height: 1px;
  background-color: #979797;
}
/*Linha que separa o formulário da tabela*/

/*Titulo e conteudos da table*/
.tabela-extrato { /*Alinha o conteudo do titulo com a table*/
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  justify-content: center;
  align-items: center;
}
.tabela-extrato table {
  margin-top: 19px;
  width: 90%;
  border-collapse: collapse;
  font-size: 14px;
}
.linha-simples-separadora td {
  border-bottom: 1px solid #979797;
  padding: 0px;
}
.cabecalho-tabela {
  font-weight: 600;
  font-size: 14px;
  padding: 5px 0px;
}
.conteudo-tabela {
  padding: 8px 0px;
  width: 200px;
  line-height: 16px;
}
#espaco-linhadupla {
  padding: 1px;
}
.total {
  padding-top: 10px;
  font-weight: 700;
  font-size: 14px;
  padding-left: 15px;
}
.lucro {
  font-size: 10px;
  font-weight: 400;
  padding-top: 0px;
  text-align: right;
  padding-right: 10px;
}
.alinhamento-esquerdo {
  text-align: left;
  padding-left: 11px;
}
.alinhamento-direito {
  text-align: right;
  padding-right: 10px;
  vertical-align: baseline;
  padding-top: 7px;
}
.espaco-simbolo {
  padding-left: 10px;
  text-align: center;
}
#cabecalho-tabela-valor {
  padding-right: 42px;
}
/*Titulo e conteudos da table*/

/*Linha fina preta no final da página*/
.footer {
  border: 4px solid #333333;
  width: 100%;
  position: absolute;
  bottom: 0;
}
/*Linha fina preta no final da página*/

@media (min-width: 768px) {
  #menu-conteiner {
    width: 35%;
  }

  .formulario-tabela{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .formulario h2 {
    display: block;
    font-size: 18px;
  }

  .formulario {
    border: 1px solid #979797;
    border-radius: 4px;
    width: 100%;
  }

  .menu-adicionar {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .formulario form .menu-adicionar input[type="submit"] {
    width: 200px;
    margin-bottom: 20px;
  }
  .formulario form .menu-adicionar {
    width: 100%;
    text-align: end;
  }

  .formulario form .transacao {
    width: 20%;
    margin-right: 20px;
  }
  .formulario form .nome-mercadoria {
    width: 54%;
    margin-right: 20px;
  }
  .formulario form .valor {
    width: 20%;
  }

  .formulario form {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .linha {
    display: none;
  }

  .espaco-simbolo {
    padding-left: 0px;
  }
  .alinhamento-esquerdo {
    padding-left: 0px;
  }
  #cabecalho-tabela-valor {
    padding-right: 20px;
  }
  .alinhamento-direito {
    padding-right: 20px;
  }
  .lucro {
    padding-right: 20px;
  }

  .menu-desktop {
    display: none;
  }
  .tabela-extrato table{
    width: 100%;
  }
}

@media (min-width: 1112px) {

  .formulario-tabela{
    display: flex;
    flex-direction: row;
  }

  .formulario h2 {
    display: block;
  }

  .formulario {
    border: 1px solid #979797;
    border-radius: 4px;
    width: 400px;
  }

  .menu-adicionar {
    display: flex;
    align-items: center;
  }
  
  .formulario form .menu-adicionar {
    width: 100%;
  }

  .formulario form .transacao {
    width: 100%;
  }
  .formulario form .nome-mercadoria {
    width: 100%;
  }
  .formulario form .valor {
    width: 100%;
  }

  .formulario form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .linha {
    display: none;
  }

  .espaco-simbolo {
    padding-left: 10px;
  }
  .alinhamento-esquerdo {
    padding-left: 11px;
  }
  #cabecalho-tabela-valor {
    padding-right: 10px;
  }
  .alinhamento-direito {
    padding-right: 10px;
  }
  .lucro {
    padding-right: 10px;
  }

  .tabela-extrato {
    width: 652px;
    padding-left: 20px;
    justify-content: start;
    margin-top: 32px;
  }
  

  .icon-menu {
    display: none;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .formulario form .menu-adicionar input[type="submit"] {
    margin-bottom: 20px;
    width: 100%;
  }

  #cabecalho {
    height: 80px;
    justify-content: center;
    display: flex;
  }

  .conteudo-cabecalho {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    height: 80px;
    padding: 0px 20px;
  }

  #cabecalho h1 {
    margin-left: 20px;
  }

  #menu{
    display: flex;
    flex-direction: row;
  }
  
  #menu-conteiner{
    position: relative;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 32%;
  }

  #abrirMenu{
    display: none;
  }

  #fecharMenu{
    display: none;
  }

  #menu li{
    color: #333333;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 16px;
  }

  #menu li:hover{
    background-color: #fff;
  }
  
  li:before {
    content: "|";
    color: #979797;
    margin: 0px 20px 0px -5px;
  }
  li:first-child:before {
    content: none;
  }

}

@media (min-width: 1500px) {
  main {
    justify-content: center;
  }
}
